ENVIRONMENT=development
PUBLIC_PRODUCTION_DOMAIN=example.com

# Storyblok
# ------------------ #
# Used on client and server to access Storyblok API
PUBLIC_STORYBLOK_ACCESS_TOKEN=

# Used in the generate script to create types for Storyblok components
STORYBLOK_PERSONAL_ACCESS_TOKEN=
STORYBLOK_SPACE_ID=

# Mail service
# ------------------ #
ZEPTO_TOKEN=
DEFAULT_EMAIL_FROM=noreply@uilo.co
DEFAULT_EMAIL_TO=darby@uilo.co

# Convex
# ------------------ #
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

PUBLIC_CONVEX_URL=

# Same as PUBLIC_CONVEX_URL but ends in .site
PUBLIC_CONVEX_SITE_URL=

# Your local site URL
PUBLIC_SITE_URL=http://localhost:5173
