@use 'sass:math';
@use 'sass-mq/mq' as * with (
	$breakpoints: (
		mobile: 640px,
		tablet: 1024px,
		desktop: 1280px,
		wide: 1440px
	)
);
@forward 'sass-mq/mq';

@function clampy($min, $max) {
	// strip unit for the max value for calculation
	$strip: math.div($max, $max * 0 + 1);
	// calculate the clamp
	$view: math.div($strip * 16, 1600) * 100vw; //16 = 1rem; 1600 = vw
	// return non-shorthand clamp code for better browser support
	@return min(max($min, $view), $max);
}

%wrap {
	margin: 0 auto;
	max-width: var(--s-wrap); //1680px
	width: 90vw;
}
