@import 'kitto/unify';
@import '$library/variables.css';

html {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	letter-spacing: 0;
}

button {
	letter-spacing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

hr {
	background-color: var(--c-black);
	border: none;
	height: 0.5px;
	width: 100%;
}

.contain {
	margin: 0 auto;
	max-width: var(--s-wrap);
	width: 90vw;
}
